:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}
/*   Roboto */
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
  }
img{
    display: block;
  }

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav{
    display: flex;
    align-items: center;
    margin-right: auto; /* Це відштовхує контакти вправо */
    
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
/*  Roboto */
strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}

/* Roboto */
.bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Жирный */
}
body {
    background-color: var(--white);
    color: var(--slate);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

a {
    text-decoration: none;
    font-style: normal;
}
ul {
    list-style-type: none;
}
.header-logo{
    color: #2e2f42;
}
.header-container {
    display: flex;
    align-items: center;
  }
.header-logo-part{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.header-nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer-logo{
    color: #f4f4fd;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current{
    position: relative;
    color: #404bbf;
}
.nav-link.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  
.header-address-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header .header-link-contact {
    color: var(--slate);
}
.header-address-list-link:hover,
.header-address-list-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current{
    color: #404bbf;
}

.header-address-list-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts{
    display: flex;
    align-items: center;
    gap: 40px;
}
/* One section */
.title{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgoffice.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
}
.title-container{
    display: block;
    align-items: center;
}

.title-name{
    max-width: 496px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;  
    margin-bottom: 48px;
}
.title-button{
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title .title-button:hover {
    background-color:  #404bbf;
    color: #FFFFFF;
}

.title .title-button:focus {
    background-color: #404bbf;
    color: #FFFFFF;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
   border: 1px solid #8e8f99;
  }
/* two section */

.about-us{
    padding: 120px 0;
}
.about-us-container{
    margin: 0 auto;
}
.about-us-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
.about-us-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.about-us-list{
    display: flex;
    gap: 24px;
    
}
.about-us-list-item{
    flex-basis: calc((100% - 72px) / 4);
}
.about-us-title-item{
    font-weight:500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.about-us-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
}
/* three section */
.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-container{
    text-align: center;
}
.team-title{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    font-size: 16px;
    display: flex;
    gap: 24px;
}

.team-name-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 48px) / 3);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px; 
}
.team-card{
    padding: 32px 0;
}
.icons-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:24px;
    flex-direction: row;
  }
  .icons-spec{
    width: 40px;
    height: 40px;
  }
  .icon-spec{
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
  align-items: center;
  justify-content: center;
  }
  .icon-spec:hover,
  .icon-spec:focus {
  background-color:  #404bbf;
  }
  .icon-svg{
    fill: #f4f4fd;
  }
/* four section */
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
    } 
    .portfolio-item{
    background-color: #FFFFFF;
    flex-basis: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-item:hover .overlay-text{
      transform: translateY(0%);
    }
    .portfolio-item:hover{
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .portfolio-title{
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #2e2f42;
      background-color:#FFFFFF;
      margin-bottom: 72px;
    }
    .portfolio-list{
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
    }
    .performed{
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
      margin-bottom: 8px;
      
    }
    .product-type{
      line-height: 1.5;
      letter-spacing: 0.02em;
      font-size: 16px;
    }
    .portfolio-card{
      padding: 32px 16px;
      border: 1px solid #e7e9fc;
      border-top: none;
    }
    .overlay{
      position:relative;
      overflow:hidden;
    }
    .overlay-text{
      position: absolute;
      background-color: #4d5ae5;
      color: #f4f4fd;
      height: 100%;
      width: 100%;
      top: 0;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      padding: 40px 32px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: translateY(100%);
    
    }
/* footer */
.footer {
    background-color:#2e2f42;
    padding: 100px 0;
}
.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    max-width: 264px;
    margin-bottom: 16px
}
.footer-logo-part{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
.footercon{
    display: flex;
    align-items:baseline;
  }
  .footer-container{
  margin-right: 120px;
  }
  .par-network{
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  }
.icons-footer{
    display: flex;
    gap: 16px;
}
.icon-footer{
    width: 40px;
    height: 40px;
}
.media-icons{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icons:hover,
.media-icons:focus{
    background-color: #31d0aa;
}
  
.icons-svg-footer {
    fill: var(--color3, #f4f4fd);
}
/* Subscribe */

.subscribe-footer{
     margin-left: 80px;
}
.footer-form{
    display: flex;
    gap: 24px;
}
.subscribe-area-footer{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    outline: transparent;
}
.ubscribe-area-footer::placeholder{
    color: #fff;
}
.subscribe-title-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #fff;
}
.footer-btn{
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-footer-icon-btn{
    fill: var(--white);
    margin-left: 16px;
}
.footer-btn:hover,
.footer-btn:focus{
    background-color: #404bbf;

}
/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-close-btn{
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color:#404bbf;
    border: none;
}
    .icon-close{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close{
    fill: #fff;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
      
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}
.modal-title{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.form-input{
    outline: transparent;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4D5AE5;
}

.form-field {
    margin-bottom: 8px;
}
.input-wrapper:hover .form-icon,
.input-wrapper:focus-within .form-icon{
    fill: #4d5ae5;
}
.input-wrapper{
    position: relative;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:  #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea{
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    resize: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-textarea:hover,
.form-textarea:focus-within {
    border-color: #4d5ae5;
}
.input-textarea{
    margin-bottom: 16px;
}
.checkbox-container {
    margin-bottom: 24px;
}
.checkbox-title {
    color: #8e8f99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

}
.checkbox-icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    align-items: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.visually-hidden:checked + .checkbox-title > .checkbox-icon {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.privacy-policy {
    color:  #4d5ae5;
    text-decoration: underline;
}

.send-btn {
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404bbf;
}